---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<p>Hey! I'm Pablo. I'm building this site, so you might find some unpainted walls here and there. Or stay and see what you stumble across.</p>
<p>→ <a href="https://psantalla.github.io/pablosantalla.com/" target="_blank">Previous, more polished site (for now).</a></p>
<p>I'm a developer by instinct and obsession. Right now I work on the front end at <a href="https://idgadvertising.com" target="_blank">IDG Advertising</a>, and I help steer web projects in the right direction at <a href="https://zeroeight.us" target="_blank">Zero Eight</a>. Every now and then, I’ll add a few thoughts <a href="/about">over here</a> if I think they might be worth sharing.</p>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
