:root {
    --c--pine: rgb(19, 17, 23);
    --c--pine--95: rgba(19, 17, 23, .95);
    --c--pine--90: rgba(19, 17, 23, .9);
    --c--pine--85: rgba(19, 17, 23, .85);
    --c--pine--80: rgba(19, 17, 23, .8);
    --c--pine--75: rgba(19, 17, 23, .75);
    --c--pine--70: rgba(19, 17, 23, .7);
    --c--pine--65: rgba(19, 17, 23, .65);
    --c--pine--60: rgba(19, 17, 23, .6);
    --c--pine--55: rgba(19, 17, 23, .55);
    --c--pine--50: rgba(19, 17, 23, .5);
    --c--pine--45: rgba(19, 17, 23, .45);
    --c--pine--40: rgba(19, 17, 23, .4);
    --c--pine--35: rgba(19, 17, 23, .35);
    --c--pine--30: rgba(19, 17, 23, .3);
    --c--pine--25: rgba(19, 17, 23, .25);
    --c--pine--20: rgba(19, 17, 23, .2);
    --c--pine--15: rgba(19, 17, 23, .15);
    --c--pine--10: rgba(19, 17, 23, .1);
    --c--pine--10--pure: #E7E7E8;
    --c--pine--05: rgba(19, 17, 23, .05);
    /* ----- */
    --c--accent: rgb(245, 93, 62);
    --c--accent--95: rgba(245, 93, 62, .95);
    --c--accent--90: rgba(245, 93, 62, .9);
    --c--accent--85: rgba(245, 93, 62, .85);
    --c--accent--80: rgba(245, 93, 62, .8);
    --c--accent--75: rgba(245, 93, 62, .75);
    --c--accent--70: rgba(245, 93, 62, .7);
    --c--accent--65: rgba(245, 93, 62, .65);
    --c--accent--60: rgba(245, 93, 62, .6);
    --c--accent--55: rgba(245, 93, 62, .55);
    --c--accent--50: rgba(245, 93, 62, .5);
    --c--accent--45: rgba(245, 93, 62, .45);
    --c--accent--40: rgba(245, 93, 62, .4);
    --c--accent--35: rgba(245, 93, 62, .35);
    --c--accent--30: rgba(245, 93, 62, .3);
    --c--accent--25: rgba(245, 93, 62, .25);
    --c--accent--20: rgba(245, 93, 62, .2);
    --c--accent--15: rgba(245, 93, 62, .15);
    --c--accent--10: rgba(245, 93, 62, .1);
    --c--accent--05: rgba(245, 93, 62, .05);
    --c--accent--0: rgba(245, 93, 62, 0);
    /* ----- */
    --c--alabaster: rgb(245, 245, 245);
    --c--alabaster--95: rgba(245, 245, 245, .95);
    --c--alabaster--90: rgba(245, 245, 245, .9);
    --c--alabaster--85: rgba(245, 245, 245, .85);
    --c--alabaster--80: rgba(245, 245, 245, .8);
    --c--alabaster--75: rgba(245, 245, 245, .75);
    --c--alabaster--70: rgba(245, 245, 245, .7);
    --c--alabaster--65: rgba(245, 245, 245, .65);
    --c--alabaster--60: rgba(245, 245, 245, .6);
    --c--alabaster--55: rgba(245, 245, 245, .55);
    --c--alabaster--50: rgba(245, 245, 245, .5);
    --c--alabaster--45: rgba(245, 245, 245, .45);
    --c--alabaster--40: rgba(245, 245, 245, .4);
    --c--alabaster--35: rgba(245, 245, 245, .35);
    --c--alabaster--30: rgba(245, 245, 245, .3);
    --c--alabaster--25: rgba(245, 245, 245, .25);
    --c--alabaster--20: rgba(245, 245, 245, .2);
    --c--alabaster--15: rgba(245, 245, 245, .15);
    --c--alabaster--10: rgba(245, 245, 245, .1);
    /* ----- */
    --c--white: rgb(255, 255, 255);
    --c--white--95: rgba(255, 255, 255, .95);
    --c--white--90: rgba(255, 255, 255, .9);
    --c--white--85: rgba(255, 255, 255, .85);
    --c--white--80: rgba(255, 255, 255, .8);
    --c--white--75: rgba(255, 255, 255, .75);
    --c--white--70: rgba(255, 255, 255, .7);
    --c--white--65: rgba(255, 255, 255, .65);
    --c--white--60: rgba(255, 255, 255, .6);
    --c--white--55: rgba(255, 255, 255, .55);
    --c--white--50: rgba(255, 255, 255, .5);
    --c--white--45: rgba(255, 255, 255, .45);
    --c--white--40: rgba(255, 255, 255, .4);
    --c--white--35: rgba(255, 255, 255, .35);
    --c--white--30: rgba(255, 255, 255, .3);
    --c--white--25: rgba(255, 255, 255, .25);
    --c--white--20: rgba(255, 255, 255, .2);
    --c--white--15: rgba(255, 255, 255, .15);
    --c--white--10: rgba(255, 255, 255, .1);
}

.dark-mode {
    --c--pine: rgb(255, 255, 255);
    --c--pine--95: rgba(255, 255, 255, .95);
    --c--pine--90: rgba(255, 255, 255, .9);
    --c--pine--85: rgba(255, 255, 255, .85);
    --c--pine--80: rgba(255, 255, 255, .8);
    --c--pine--75: rgba(255, 255, 255, .75);
    --c--pine--70: rgba(255, 255, 255, .7);
    --c--pine--65: rgba(255, 255, 255, .65);
    --c--pine--60: rgba(255, 255, 255, .6);
    --c--pine--55: rgba(255, 255, 255, .55);
    --c--pine--50: rgba(255, 255, 255, .5);
    --c--pine--45: rgba(255, 255, 255, .45);
    --c--pine--40: rgba(255, 255, 255, .4);
    --c--pine--35: rgba(255, 255, 255, .35);
    --c--pine--30: rgba(255, 255, 255, .3);
    --c--pine--25: rgba(255, 255, 255, .25);
    --c--pine--20: rgba(255, 255, 255, .2);
    --c--pine--15: rgba(255, 255, 255, .15);
    --c--pine--10: rgba(255, 255, 255, .1);
    --c--pine--05: rgba(255, 255, 255, .05);
    /* ----- */
    --c--white: rgb(19, 17, 23);
    --c--white--95: rgba(19, 17, 23, .95);
    --c--white--90: rgba(19, 17, 23, .9);
    --c--white--85: rgba(19, 17, 23, .85);
    --c--white--80: rgba(19, 17, 23, .8);
    --c--white--75: rgba(19, 17, 23, .75);
    --c--white--70: rgba(19, 17, 23, .7);
    --c--white--65: rgba(19, 17, 23, .65);
    --c--white--60: rgba(19, 17, 23, .6);
    --c--white--55: rgba(19, 17, 23, .55);
    --c--white--50: rgba(19, 17, 23, .5);
    --c--white--45: rgba(19, 17, 23, .45);
    --c--white--40: rgba(19, 17, 23, .4);
    --c--white--35: rgba(19, 17, 23, .35);
    --c--white--30: rgba(19, 17, 23, .3);
    --c--white--25: rgba(19, 17, 23, .25);
    --c--white--20: rgba(19, 17, 23, .2);
    --c--white--15: rgba(19, 17, 23, .15);
    --c--white--10: rgba(19, 17, 23, .1);
    --c--white--05: rgba(19, 17, 23, .05);
}

.c-el--pine {
    color: var(--c--pine);
}

.c-bg--pine {
    background-color: var(--c--pine);
}

.c-bor--pine {
    border-color: var(--c--pine) !important;
}

.c-el--pine--90 {
    color: var(--c--pine--90);
}

.c-bg--pine--90 {
    background-color: var(--c--pine--90);
}

.c-bor--pine--90 {
    border-color: var(--c--pine--90) !important;
}

.c-el--pine--80 {
    color: var(--c--pine--80);
}

.c-bg--pine--80 {
    background-color: var(--c--pine--80);
}

.c-bor--pine--80 {
    border-color: var(--c--pine--80) !important;
}

.c-el--pine--60 {
    color: var(--c--pine--60);
}

.c-bg--pine--60 {
    background-color: var(--c--pine--60);
}

.c-bor--pine--60 {
    border-color: var(--c--pine--60) !important;
}

.c-el--pine--50 {
    color: var(--c--pine--50);
}

.c-bg--pine--50 {
    background-color: var(--c--pine--50);
}

.c-bor--pine--50 {
    border-color: var(--c--pine--50) !important;
}

.c-el--pine--40 {
    color: var(--c--pine--40);
}

.c-bg--pine--40 {
    background-color: var(--c--pine--40);
}

.c-bor--pine--40 {
    border-color: var(--c--pine--40) !important;
}

.c-el--pine--30 {
    color: var(--c--pine--30);
}

.c-bg--pine--30 {
    background-color: var(--c--pine--30);
}

.c-bor--pine--30 {
    border-color: var(--c--pine--30) !important;
}

.c-el--pine--20 {
    color: var(--c--pine--20);
}

.c-bg--pine--20 {
    background-color: var(--c--pine--20);
}

.c-bor--pine--20 {
    border-color: var(--c--pine--20) !important;
}

.c-el--pine--10 {
    color: var(--c--pine--10);
}

.c-bg--pine--10 {
    background-color: var(--c--pine--10);
}

.c-bor--pine--10 {
    border-color: var(--c--pine--10) !important;
}

/* ----- */
.c-el--accent {
    color: var(--c--accent);
}

.c-bg--accent {
    background-color: var(--c--accent);
}

.c-bor--accent {
    border-color: var(--c--accent) !important;
}

.c-el--accent--90 {
    color: var(--c--accent--90);
}

.c-bg--accent--90 {
    background-color: var(--c--accent--90);
}

.c-bor--accent--90 {
    border-color: var(--c--accent--90) !important;
}

.c-el--accent--80 {
    color: var(--c--accent--80);
}

.c-bg--accent--80 {
    background-color: var(--c--accent--80);
}

.c-bor--accent--80 {
    border-color: var(--c--accent--80) !important;
}

.c-el--accent--70 {
    color: var(--c--accent--70);
}

.c-bg--accent--70 {
    background-color: var(--c--accent--70);
}

.c-bor--accent--70 {
    border-color: var(--c--accent--70) !important;
}

.c-el--accent--60 {
    color: var(--c--accent--60);
}

.c-bg--accent--60 {
    background-color: var(--c--accent--60);
}

.c-bor--accent--60 {
    border-color: var(--c--accent--60) !important;
}

.c-el--accent--50 {
    color: var(--c--accent--50);
}

.c-bg--accent--50 {
    background-color: var(--c--accent--50);
}

.c-bor--accent--50 {
    border-color: var(--c--accent--50) !important;
}

.c-el--accent--40 {
    color: var(--c--accent--40);
}

.c-bg--accent--40 {
    background-color: var(--c--accent--40);
}

.c-bor--accent--40 {
    border-color: var(--c--accent--40) !important;
}

.c-el--accent--30 {
    color: var(--c--accent--30);
}

.c-bg--accent--30 {
    background-color: var(--c--accent--30);
}

.c-bor--accent--30 {
    border-color: var(--c--accent--30) !important;
}

.c-el--accent--20 {
    color: var(--c--accent--20);
}

.c-bg--accent--20 {
    background-color: var(--c--accent--20);
}

.c-bor--accent--20 {
    border-color: var(--c--accent--20) !important;
}

.c-el--accent--10 {
    color: var(--c--accent--10);
}

.c-bg--accent--10 {
    background-color: var(--c--accent--10);
}

.c-bor--accent--10 {
    border-color: var(--c--accent--10) !important;
}

/* ----- */
.c-el--alabaster {
    color: var(--c--alabaster);
}

.c-bg--alabaster {
    background-color: var(--c--alabaster);
}

.c-bor--alabaster {
    border-color: var(--c--alabaster) !important;
}

.c-el--alabaster--90 {
    color: var(--c--alabaster--90);
}

.c-bg--alabaster--90 {
    background-color: var(--c--alabaster--90);
}

.c-bor--alabaster--90 {
    border-color: var(--c--alabaster--90) !important;
}

.c-el--alabaster--80 {
    color: var(--c--alabaster--80);
}

.c-bg--alabaster--80 {
    background-color: var(--c--alabaster--80);
}

.c-bor--alabaster--80 {
    border-color: var(--c--alabaster--80) !important;
}

.c-el--alabaster--70 {
    color: var(--c--alabaster--70);
}

.c-bg--alabaster--70 {
    background-color: var(--c--alabaster--70);
}

.c-bor--alabaster--70 {
    border-color: var(--c--alabaster--70) !important;
}

.c-el--alabaster--60 {
    color: var(--c--alabaster--60);
}

.c-bg--alabaster--60 {
    background-color: var(--c--alabaster--60);
}

.c-bor--alabaster--60 {
    border-color: var(--c--alabaster--60) !important;
}

.c-el--alabaster--50 {
    color: var(--c--alabaster--50);
}

.c-bg--alabaster--50 {
    background-color: var(--c--alabaster--50);
}

.c-bor--alabaster--50 {
    border-color: var(--c--alabaster--50) !important;
}

.c-el--alabaster--40 {
    color: var(--c--alabaster--40);
}

.c-bg--alabaster--40 {
    background-color: var(--c--alabaster--40);
}

.c-bor--alabaster--40 {
    border-color: var(--c--alabaster--40) !important;
}

.c-el--alabaster--30 {
    color: var(--c--alabaster--30);
}

.c-bg--alabaster--30 {
    background-color: var(--c--alabaster--30);
}

.c-bor--alabaster--30 {
    border-color: var(--c--alabaster--30) !important;
}

.c-el--alabaster--20 {
    color: var(--c--alabaster--20);
}

.c-bg--alabaster--20 {
    background-color: var(--c--alabaster--20);
}

.c-bor--alabaster--20 {
    border-color: var(--c--alabaster--20) !important;
}

.c-el--alabaster--10 {
    color: var(--c--alabaster--10);
}

.c-bg--alabaster--10 {
    background-color: var(--c--alabaster--10);
}

.c-bor--alabaster--10 {
    border-color: var(--c--alabaster--10) !important;
}

/* ----- */
.c-el--white {
    color: var(--c--white);
}

.c-bg--white {
    background-color: var(--c--white);
}

.c-bor--white {
    border-color: var(--c--white) !important;
}

.c-el--white--90 {
    color: var(--c--white--90);
}

.c-bg--white--90 {
    background-color: var(--c--white--90);
}

.c-bor--white--90 {
    border-color: var(--c--white--90) !important;
}

.c-el--white--80 {
    color: var(--c--white--80);
}

.c-bg--white--80 {
    background-color: var(--c--white--80);
}

.c-bor--white--80 {
    border-color: var(--c--white--80) !important;
}

.c-el--white--70 {
    color: var(--c--white--70);
}

.c-bg--white--70 {
    background-color: var(--c--white--70);
}

.c-bor--white--70 {
    border-color: var(--c--white--70) !important;
}

.c-el--white--60 {
    color: var(--c--white--60);
}

.c-bg--white--60 {
    background-color: var(--c--white--60);
}

.c-bor--white--60 {
    border-color: var(--c--white--60) !important;
}

.c-el--white--50 {
    color: var(--c--white--50);
}

.c-bg--white--50 {
    background-color: var(--c--white--50);
}

.c-bor--white--50 {
    border-color: var(--c--white--50) !important;
}

.c-el--white--40 {
    color: var(--c--white--40);
}

.c-bg--white--40 {
    background-color: var(--c--white--40);
}

.c-bor--white--40 {
    border-color: var(--c--white--40) !important;
}

.c-el--white--30 {
    color: var(--c--white--30);
}

.c-bg--white--30 {
    background-color: var(--c--white--30);
}

.c-bor--white--30 {
    border-color: var(--c--white--30) !important;
}

.c-el--white--20 {
    color: var(--c--white--20);
}

.c-bg--white--20 {
    background-color: var(--c--white--20);
}

.c-bor--white--20 {
    border-color: var(--c--white--20) !important;
}

.c-el--white--10 {
    color: var(--c--white--10);
}

.c-bg--white--10 {
    background-color: var(--c--white--10);
}

.c-bor--white--10 {
    border-color: var(--c--white--10) !important;
}

/* vertor colors using fill */
.c-vec--pine {
    fill: var(--c--pine);
}

.c-vec--pine--90 {
    fill: var(--c--pine--90);
}

.c-vec--pine--80 {
    fill: var(--c--pine--80);
}

.c-vec--pine--60 {
    fill: var(--c--pine--60);
}

.c-vec--pine--50 {
    fill: var(--c--pine--50);
}

.c-vec--pine--40 {
    fill: var(--c--pine--40);
}

.c-vec--pine--30 {
    fill: var(--c--pine--30);
}

.c-vec--pine--20 {
    fill: var(--c--pine--20);
}

.c-vec--pine--10 {
    fill: var(--c--pine--10);
}

/* ----- */
.c-vec--accent {
    fill: var(--c--accent);
}

.c-vec--accent--90 {
    fill: var(--c--accent--90);
}

.c-vec--accent--80 {
    fill: var(--c--accent--80);
}

.c-vec--accent--70 {
    fill: var(--c--accent--70);
}

.c-vec--accent--60 {
    fill: var(--c--accent--60);
}

.c-vec--accent--50 {
    fill: var(--c--accent--50);
}

.c-vec--accent--40 {
    fill: var(--c--accent--40);
}

.c-vec--accent--30 {
    fill: var(--c--accent--30);
}

.c-vec--accent--20 {
    fill: var(--c--accent--20);
}

.c-vec--accent--10 {
    fill: var(--c--accent--10);
}

/* ----- */
.c-vec--alabaster {
    fill: var(--c--alabaster);
}

.c-vec--alabaster--90 {
    fill: var(--c--alabaster--90);
}

.c-vec--alabaster--80 {
    fill: var(--c--alabaster--80);
}

.c-vec--alabaster--70 {
    fill: var(--c--alabaster--70);
}

.c-vec--alabaster--60 {
    fill: var(--c--alabaster--60);
}

.c-vec--alabaster--50 {
    fill: var(--c--alabaster--50);
}

.c-vec--alabaster--40 {
    fill: var(--c--alabaster--40);
}

.c-vec--alabaster--30 {
    fill: var(--c--alabaster--30);
}

.c-vec--alabaster--20 {
    fill: var(--c--alabaster--20);
}

.c-vec--alabaster--10 {
    fill: var(--c--alabaster--10);
}

/* ----- */
.c-vec--white {
    fill: var(--c--white);
}

.c-vec--white--90 {
    fill: var(--c--white--90);
}

.c-vec--white--80 {
    fill: var(--c--white--80);
}

.c-vec--white--70 {
    fill: var(--c--white--70);
}

.c-vec--white--60 {
    fill: var(--c--white--60);
}

.c-vec--white--50 {
    fill: var(--c--white--50);
}

.c-vec--white--40 {
    fill: var(--c--white--40);
}

.c-vec--white--30 {
    fill: var(--c--white--30);
}

.c-vec--white--20 {
    fill: var(--c--white--20);
}

.c-vec--white--10 {
    fill: var(--c--white--10);
}