/*.st--home .com-logo._com-logo--spins {
    
    transition: transform 0.75s ease;
}

.st--home .com-logo._com-logo--spins:hover {
    transform: rotate3d(0, 1, 0, 360deg)
}*/
/* .st--home allows the logo to be weirdly animated just on the homepage */
/* button {
    cursor: pointer;
} */
.com-testimonial-wrapper {
    border-radius: var(--sp--s);
    background-color: var(--c--alabaster);
    padding: var(--sp--4xl) var(--sp--xl) var(--sp--xl) var(--sp--xl);
}

.com-slider_arrow-left,
.com-slider_arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--c--pine--50);
    border-radius: var(--sp--7xl);
    width: var(--sp--3xl);
    height: var(--sp--xl);
    font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc));
    user-select: none;
}

.com-slider_arrow-left:hover,
.com-slider_arrow-right:hover {
    background-color: var(--c--pine--05);
}

.com-ul {
    display: flex;
    flex-direction: column;
    gap: var(--sp--xs);
}

.com-ul li {
    position: relative;
    padding-left: var(--sp--l);
}

.com-ul li::before {
    position: absolute;
    left: 0;
    content: "— ";
}

.com-icon--tool {
    width: var(--sp--2xl);
}

.com-icon--sc {
    width: var(--sp--xl);
}

.com-logo--alt {
    filter: brightness(0) invert(1);
}

.com-btn {
    display: flex;
    align-items: center;
    transition: all 125ms;
    cursor: pointer;
    border: 1px solid var(--c--pine);
    border-radius: var(--sp--7xl);
    padding-inline: var(--sp--s);
    width: fit-content;
    height: var(--sp--2xl);
    color: inherit;
    font-size: var(--t-s--m);
    line-height: var(--t-ln-ht--small-t);
    font-family: 'n27bold';
    text-decoration: none;
    text-transform: lowercase;
    text-transform: lowercase;
}

.com-btn._com-btn--submit {
    display: inline;
    cursor: pointer;
}

.com-btn._com-btn--alt {
    background-color: var(--c--pine);
    color: white;
}

.com-btn:hover {
    transform: rotate(-6deg);
    transition: all 250ms;
}

.com-btn._com-btn--sp {
    gap: var(--sp--xs);
}

.com-btn._com-btn--sp--alt {
    /* this class doesn't invert colors on the img, so it needs the img-alt in order to match the contrast */
    gap: var(--sp--xs);
    border: 1px solid var(--c--white--90);
    color: var(--c--white--90);
}

.com-btn._com-btn--sp img {
    height: var(--sp--xl);
}

.com-btn._com-btn--sp svg {
    width: var(--sp--xl);
}

.com-has--arrow::after {
    content: " ↗";
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

    /* only tablet */
    .com-btn {
        height: calc(var(--sp--xs) + var(--sp--2xl));
    }
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .com-btn._com-btn--sp img {
        height: var(--sp--l);
    }

    .com-btn._com-btn--sp svg {
        width: var(--sp--l);
    }
}

.com-cool-msg {
    opacity: 70%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    padding: var(--sp--m);
}

.cool-message-alt {
    display: inline-block;
    opacity: 90%;
    margin: calc(var(--sp--xs)/1.75);
    border-radius: 0px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    padding: var(--sp--xs)
}

.com-cont-fern {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.com-cont-fern lottie-player {
    transform: scale(.8);
    /* this value makes the lottie outline to sit at the bottom of the container */
    opacity: .35;
    filter: blur(1.25px);
    margin-bottom: -24%;
    margin-left: 40%;
}

.com-pulse {
    animation: pulse 2.5s infinite;
    box-shadow: 0 0 0 var(--c--accent--40);
    border-radius: var(--sp--7xl);
    background: var(--c--accent);
    width: calc(1.15 * var(--sp--xs));
    min-width: calc(1.15 * var(--sp--xs));
    height: calc(1.15 * var(--sp--xs));
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--c--accent--40);
    }

    70% {
        -webkit-box-shadow: 0 0 0 var(--sp--s) var(--c--accent--0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--c--accent--40);
        box-shadow: 0 0 0 0 var(--c--accent--40);
    }

    70% {
        -moz-box-shadow: 0 0 0 var(--sp--s) var(--c--accent--0);
        box-shadow: 0 0 0 var(--sp--s) rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 var(--c--accent--0);
        box-shadow: 0 0 0 0 var(--c--accent--0);
    }
}

.com-icon--rrss {
    opacity: 90%;
}

.com-icon--rrss:hover {
    opacity: 100%;
    transition: all 125ms;
}

.com-quote--modern::before {
    position: absolute;
    top: calc(-1 * var(--sp--l));
    content: "“";
    font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc));
}

.com-project-img_clone-it {
    position: absolute;
    right: var(--sp--m);
    bottom: calc(var(--sp--l) + var(--sp--l));
    /* cursor: pointer; */
    z-index: 999;
    transition: all 125ms;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    /* the first variable corrects the space that the parent image is generating with its margin-bottom */
    border-radius: var(--sp--7xl);
    width: clamp(var(--sp--l), 12.5%, var(--sp--2xl));
}

.com-project-img_clone-it:hover {
    transition: all 125ms;
    box-shadow: none;
}

.com-project-img_clone-it._com-project-img_clone-it--non {
    position: absolute;
    right: var(--sp--m);
    bottom: calc(var(--sp--l) + var(--sp--l));
    /* cursor: pointer; */
    opacity: 0.4;
    filter: grayscale(100%);
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: var(--sp--7xl);
    width: clamp(var(--sp--l), 12.5%, var(--sp--2xl));
}

/* .com-project-img_clone-it._com-project-img_clone-it--non {
    cursor: not-allowed;
} */
.com-leaf {
    position: absolute;
    top: calc(-1 * var(--sp--5xl) - var(--sp--2xs));
    right: 0;
    opacity: .9;
    width: var(--sp--5xl);
    /* this positions the leaf right on the border of the section, as it avoids the top padding of the section — it also add a few negative pixels to deal with the border of the leaf */
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .com-leaf {
        top: calc(-1 * var(--sp--3xl) - var(--sp--2xs));
        /* this positions the leaf right on the border of the section, as it avoids the top padding of the section — it also add a few negative pixels to deal with the border of the leaf */
    }
}

.com-colab--idg {
    display: flex;
    position: absolute;
    top: calc(-1 * var(--sp--l));
    justify-content: center;
    align-items: center;
    animation: levitate 2.725s ease-in-out infinite;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10),
        10px 10px 31px 0px rgba(0, 0, 0, 0.10),
        40px 40px 57px 0px rgba(0, 0, 0, 0.09),
        91px 90px 77px 0px rgba(0, 0, 0, 0.05),
        161px 160px 91px 0px rgba(0, 0, 0, 0.01),
        252px 251px 100px 0px rgba(0, 0, 0, 0.00);
    min-width: auto;
    min-height: var(--sp--2xl);
}

@keyframes levitate {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-4px);
    }

    60% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.com-idg-logo {
    margin-right: var(--sp--2xs);
    height: var(--sp--m);
}

.com-avatar--blog {
    border-radius: var(--sp--7xl);
    width: var(--sp--2xl);
    height: var(--sp--2xl);
}

.com-brand {
    border-radius: var(--sp--7xl);
    width: var(--sp--3xl);
    height: var(--sp--3xl);
}

.com-code {
    border-radius: var(--sp--s);
    font-family: Andale Mono;
    white-space: pre-wrap;
    /* Hace que el texto haga wrap y respete los espacios en blanco */
    overflow-wrap: break-word;
}

.com-icon--action {
    display: inline;
    transition: all .125s;
    margin-bottom: calc(-.25 * var(--t-b));
    margin-inline: var(--sp--2xs);
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    height: calc(var(--t-b) * var(--t-sc));
}

.com-icon--action:hover {
    box-shadow: none;
}

/* tik-tak-toe */
.com-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--sp--s);
    border-radius: var(--sp--s);
    background-color: var(--c--alabaster--25);
    padding: var(--sp--s);
    width: 100%;
    max-width: 100%;
}

.com-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Texto oscuro */
    border-radius: var(--sp--xs);
    background-color: var(--c--white);
    width: var(--sp--3xl);
    height: var(--sp--3xl);
    /* Fondo claro */
    color: #333;
    font-size: 24px;
}

.com-cell:hover {
    transition: background-color 0.s ease;
    background-color: var(--c--pine--10--pure);
}

#reiniciar {
    cursor: not-allowed;
    /* Cursor de prohibido cuando está deshabilitado */
}

#reiniciar:hover:enabled {
    cursor: pointer;
    /* Cursor de puntero normal cuando está habilitado y se hace hover */
}

#com-toggle-dark-mode {
    fill: var(--c--accent);
    max-height: var(--sp--m);
}

#com-toggle-dark-mode path {
    fill: var(--c--pine--70);
}

/**/
.com-burger {
    cursor: pointer;
    margin-right: calc(-1 * var(--sp--2xs));
    padding: var(--sp--2xs);
}