html {
    scroll-behavior: smooth;
    overflow: visible;
}

input {

    height: calc(1.5 * var(--sp--l)) ;
    max-width: calc(16 * var(--sp--m));
    outline: calc(var(--sp--2xs)/2.5) solid var(--c--pine--20);
    border-radius: var(--sp--xs);
    border: none;
    font-size: var(--sp--m);
    padding-inline: var(--sp--s);
}



input:focus {
    outline: calc(var(--sp--2xs)/2) solid var(--c--pine);
}

::selection {
    color: var(--c--accent);
    background-color: transparent;
}