/* Ed. 1.2 — homogeneus naming convention */
.st-home,
.st-entry,
.st-support,
.st-blog,
.st-cs,
.st-about,
.st-resume {
    max-width: var(--sp--site-width);
    margin-inline: auto;
}

@media only screen and (min-width: 1513px) {

    /* only over max site width */
    .st-home,
    .st-entry,
    .st-support,
    .st-blog,
    .st-cs,
    .st-about,
    .st-resume {
        border-inline: 1px dashed var(--c--pine--60);
    }
}

.st-row {
    display: flex;
}

.st-col {
    display: flex;
    flex-direction: column;
}

.st-bal--1-1 {
    column-count: 2;
    column-fill: balance;
}

.st-inline {
    display: inline;
}

.st-grid {
    display: grid;
}

.st-grid._st-grid--1-1 {
    grid-template-columns: 1fr 1fr;
}

.st-grid._st-grid--2-1 {
    grid-template-columns: 2fr 1fr;
}

.st-grid._st-grid--1-2 {
    grid-template-columns: 1fr 2fr;
}

.st-grid._st-grid--1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
}

.st-grid._st-grid--1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

    /* only tablet */
    .st-grid._st-grid--1-1--tablet {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .st-col--tablet {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .st-col--mobile {
        display: flex;
        flex-direction: column;
    }
}

.st-wrap--flex {
    flex-wrap: wrap;
}

.st-break--y {
    white-space: nowrap;
}

.st-break--n {
    white-space: nowrap;
}

.st-wrap--flex--nowrap {
    flex-wrap: nowrap;
}

.st-apll--start {
    justify-content: flex-start;
}

.st-apll--end {
    justify-content: flex-end;
}

.st-apll--sb {
    justify-content: space-between;
}

.st-appdcl--start {
    align-items: flex-start;
}

.st-appdcl--mid {
    align-items: center;
}

.st-appdcl--end {
    align-items: flex-end;
}

.st-as--start {
    align-self: start;
}

.st-as--mid {
    align-self: center;
}

.st-as--end {
    align-self: end;
}

.st-ht--100dvh,
.st-ht--100svh {
    max-height: calc(5 * var(--sp--7xl));
}

.st-ht--100dvh {
    min-height: 100dvh;
}

.st-ht--100svh {
    min-height: 100svh;
}

.st-expand--100 {
    height: 100%;
}

.st-mw--compact {
    max-width: calc(4 * var(--sp--6xl) + 2 * var(--sp--3xl));
}

.st-mw--support {
    max-width: calc(4 * var(--sp--6xl) + 3 * var(--sp--3xl));
}

.st-mw--pleasant {
    max-width: 720px;
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .st-mw--pleasant {
        /* purpose: facilitate reading — no need to reduce width on mobile */
        max-width: 100%;
    }
}

.st-mw--icon {
    max-width: var(--sp--m);
}

.st-anchor {
    position: relative;
}

.st-hook {
    position: absolute;
}

.st-ratio--1- {
    aspect-ratio: 1/1;
}

.st-ratio--10-8 {
    aspect-ratio: 10/8;
}

/* Ed. 1.1 */
.st--row {
    display: flex;
}

.st--col {
    display: flex;
    flex-direction: column;
}

.st--grid {
    display: grid;
}

.st--grid._st--grid--1-1 {
    grid-template-columns: 1fr 1fr;
}

.st--grid._st--grid--2-1 {
    grid-template-columns: 2fr 1fr;
}

.st--grid._st--grid--1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
}

.st--grid._st--grid--1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

    /* only tablet */
    .st--grid._st--grid--1-1--tablet {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .st--col--tablet {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .st--col--mobile {
        display: flex;
        flex-direction: column;
    }
}

.st-wrap--flex {
    flex-wrap: wrap;
}

.st-break--y {
    white-space: nowrap;
}

.st-break--n {
    white-space: nowrap;
}

.st-wrap--flex--nowrap {
    flex-wrap: nowrap;
}

.st-apll--start {
    justify-content: flex-start;
}

.st-apll--end {
    justify-content: flex-end;
}

.st-apll--sb {
    justify-content: space-between;
}

.st-appdcl--start {
    align-items: flex-start;
}

.st-appdcl--mid {
    align-items: center;
}

.st-appdcl--end {
    align-items: flex-end;
}

.st-ht--100dvh,
.st-ht--100svh {
    max-height: calc(5 * var(--sp--7xl));
}

.st-ht--100dvh {
    min-height: 100dvh;
}

.st-ht--100svh {
    min-height: 100svh;
}

/* the following class is only mean to be used on mobile in order to predict nav's height */
.st-ht--100svh--nnav--mobile {
    min-height: calc(100svh - 90px);
    /* the value in px may be manually updated; alternative: create a js function */
}

.st-expand--100 {
    height: 100%;
}

.st-wd--100vw {
    min-width: 100vw;
}

.st-mw--compact {
    max-width: calc(4 * var(--sp--6xl) + 2 * var(--sp--3xl));
}

.st-mw--icon {
    max-width: var(--sp--m);
}

.st--anchor {
    position: relative;
}

.st--hook {
    position: absolute;
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .st-static--mobile {
        position: relative;
    }
}

.st-ratio--1- {
    aspect-ratio: 1/1;
}

.st-ratio--10-8 {
    aspect-ratio: 10/8;
}

.st-img--normalize {
    width: 100%;
}

.st-img--stretch {
    height: 100%;
}