#mlb2-5642190.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
#mlb2-5642190.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
    padding: 0 !important;
}

#mlb2-5642190.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
    font-family: 'n27regular' !important;
    font-size: calc(var(--base)*1/var(--scale));
    text-transform: lowercase;
    padding-left: var(--base) !important;
}

input {
    border: 1.5px solid var(--pine-50) !important;
}

#mlb2-5642190.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
    font-family: 'n27bold' !important;
}