html {
    scroll-behavior: smooth;
}

input:focus {
    outline-color: var(--pine);
}

.under-construction-warning-message {
    position: absolute;
    top: 96px;
    max-width: 480px;
    margin-right: 24px !important;
    font-size: var(--base);
    line-height: var(--line-height-p);
    padding: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    opacity: 50%;
    border-radius: 16px;
}

.cool-message {
    font-size: var(--base);
    line-height: var(--line-height-p);
    padding: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    opacity: 70%;
}

.cool-message-alt {
    font-size: calc(var(--base)*1/var(--scale));
    padding: 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    opacity: 90%;
    border-radius: 0px;
    display: inline-block;
    margin: calc(var(--space-xs)/1.75)
}

.border {
    border: calc(var(--base) / 5) solid var(--pine);
}

.border-custom {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.highlight {
    box-shadow: inset 0 -.55em 0 var(--accent-80);
    transition: all .2s;
}

.highlight:hover {
    box-shadow: inset 0 -1.15em 0 var(--accent-80);
}

.hid {
    display: none;
}

@media only screen and (max-width: 991px) {
    /* tablet and mobile */
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0
}

.scrollbar-hidden {
    overflow: -moz-scrollbars-none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
}

.align-items-top {
    align-items: flex-start;
}

.width-100 {
    max-width: 100%;
}

.width-90 {
    max-width: 90%;
}

.width-80 {
    max-width: 80%;
}

.width-70 {
    max-width: 70%;
}

.width-70 {
    max-width: 70%;
}

.width-60 {
    max-width: 60%;
}

.width-50 {
    max-width: 50%;
}

.width-40 {
    max-width: 40%;
}

.width-33 {
    max-width: calc(100% / 3);
}

.width-30 {
    max-width: 30%;
}

.width-25 {
    max-width: 25%;
}

.width-20 {
    max-width: 20%;
}

.width-10 {
    max-width: 10%;
}

@media only screen and (max-width: 991px) {
    .width-100--tablet {
        max-width: 100%;
    }
}

@media only screen and (max-width: 619px) {
    .width-100--mobile {
        max-width: 100%;
    }
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.body-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px !important;
}

.button-primary {
    border: 1px solid var(--pine-50);
    background-color: transparent;
    transition: all .6s;
}

.button-premier {
    color: var(--alabaster);
    border: 1px solid var(--pine);
    background-color: var(--pine);
}

.button-primary:hover {
    transform: rotate(-3deg);
    cursor: pointer;
    transition: all .2s;
}

@media only screen and (max-width: 619px) {
    .button-fix-hero--mobile {
        margin-bottom: 24px;
    }
}

.section-border-active {
    border: 1px dashed var(--pine-20);
}

.section-border-top-inactive {
    border-top: none;
}

.section-border-right-inactive {
    border-right: none;
}

.section-border-bottom-inactive {
    border-bottom: none;
}

.section-border-left-inactive {
    border-left: none;
}

.opacity-100 {
    opacity: 100%
}

.opacity-95 {
    opacity: 95%;
}

.opacity-90 {
    opacity: 90%
}

.opacity-80 {
    opacity: 80%
}

.opacity-70 {
    opacity: 70%
}

.opacity-60 {
    opacity: 60%
}

.opacity-50 {
    opacity: 50%
}

.opacity-40 {
    opacity: 40%
}

.opacity-30 {
    opacity: 30%
}

.opacity-25 {
    opacity: 25%
}

.opacity-20 {
    opacity: 20%
}

.opacity-10 {
    opacity: 10%
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.fern {
    height: 640px;
    width: 640px;
}

.content-quote::before {
    content: "“";
    font-size: calc(var(--base) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
}

.image-showcase {
    width: 100%;
    border: calc(var(--base) / 5) solid var(--pine);
    border-radius: calc(var(--base) / 2);
}

.container-project-image {
    position: relative;
    width: 100%;
}

.image-project-child {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 8px 40px 0;
    max-width: 10vw;
    width: 12.5%;
    min-width: 24px;
    border-radius: 50%;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    transition: all .2s;
    cursor: pointer;
}

.image-project-child:hover {
    box-shadow: none;
}

.image-action {
    position: absolute;
    margin-top: -2px;
    margin-left: var(--space-xs);
    width: calc(var(--base) * var(--scale)* var(--scale));
    border-radius: 50%;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    transition: all .2s;
    cursor: pointer;
    z-index: 100;
}

.image-action:hover {
    box-shadow: none;
}

.image-project-child-locked {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 8px 40px 0;
    max-width: 10vw;
    width: 12.5%;
    min-width: 24px;
    border-radius: 50%;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    transition: all .2s;
    cursor: not-allowed;
}

.image-filter-grayscale {
    filter: grayscale(100%);
}

.icon-rrss {
    height: var(--base);
    opacity: 90%;
}

.icon-rrss:hover {
    opacity: 100%;
    transition: all 200ms;
}

.icon-button {
    width: 28px;
    margin-left: -4px;
}

.pulse {
    min-width: calc(var(--base)*1/var(--scale)*.9/var(--scale));
    min-height: calc(var(--base)*1/var(--scale)*.9/var(--scale));
    align-self: flex-start;
    position: relative;
    border-radius: 50%;
    background: var(--accent);
    animation: pulse 2s infinite;
}

.pulse-position-text-size-s-fix {
    top: 6px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(245, 93, 62, .4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(245, 93, 62, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(245, 93, 62, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(245, 93, 62, .4);
        box-shadow: 0 0 0 0 rgba(245, 93, 62, .4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(245, 93, 62, 0);
        box-shadow: 0 0 0 10px rgba(245, 93, 62, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(245, 93, 62, 0);
        box-shadow: 0 0 0 0 rgba(245, 93, 62, 0);
    }
}

.image-background-pablo-santalla-about {
    background-image: url("/assets/pablo-santalla-about.png");
}

.container-cover-hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.container-cover-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .container-cover-hero {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 50vh;
        z-index: -1;
    }

    .container-cover-hero img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        /* prevent trimming from the right */
    }
}

.world {
    width: 100%;
    opacity: 40%;
    object-position: right;
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .world {
        display: none;
        position: absolute;
        width: 42.5%;
        min-width: 380px;
        right: 5vw;
        top: -160px;
        opacity: 40%;
        object-position: left;
    }
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .hid--tablet {
        display: none !important;
    }
}

.container-cs-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.container-cs-image {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 96px);
}

@media only screen and (min-width: 992px) {
    .page-content-fix-cs {
        position: absolute;
        width: 100%;
        top: calc(100vh + 96px);
        margin: auto !important;
    }

    /* only desktop */
}

.container-cs-image img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    margin: auto;
    object-fit: cover;
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .container-cs-image {
        position: relative;
        overflow: hidden;
        min-height: auto;
    }

    .container-cs-image img {
        width: 100%;
        height: auto;
        transition: transform 0.8s ease;
        margin: auto;
        object-fit: cover;
    }
}

.container-cs-image img:hover {
    transform: scale(1.025);
}

@media only screen and (min-width: 992px) {
    .position-absolute-desktop {
        position: absolute;
    }
}

@media only screen and (max-width: 991px) {
    .showcase-fix-position {
        position: relative;
        top: -190px;
    }
}

.icon-minify {
    width: calc(var(--base)*var(--scale)*var(--scale)*var(--scale));
}

.effect-gray-to-color {
    filter: grayscale(85%);
    transition: all 2000ms;
}

.effect-gray-to-color:hover {
    filter: grayscale(0%);
}

.videocase-container {
    border: calc(var(--base) / 5) solid var(--pine);
}

.tag-link {
    padding: 4px;
    width: 80px;
    height: 20px;
    background: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--pine-50) 1.8px solid;
}